# Ambiente virtual Python
.venv/
venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Dependências Node/JS
node_modules/
**/node_modules/

# Dados locais / arquivos pesados
*.csv
*.xlsx
*.zip

# Outputs gerados
outputs/

